@font-face{
  font-family: 'Cairo';
  src: url("../fonts/Cairo-Regular.ttf")
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Cairo';
}
 /* *,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}  */
body{
  background-color: #f4fcfe;
  padding: 10px;
}
button{
  outline: none;
}
#cube {
  background-color: #dfd877;
  opacity: 0.7;
  width: 2.001cm;
  height: 2.001cm;
  position: relative;
}
#containerOfShape {
  width: 10cm;
  border: black solid 1.6px; 
  height: 10cm;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Koushi_10x10.svg/768px-Koushi_10x10.svg.png");
  background-color: white;
  background-size: 100%;
  display: inline-block;
}
#circle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  right: -15px;
  cursor: nw-resize;
}
@media only screen and (max-width: 1024px) {
  #containerOfShape {
    width: 50%;
  }
}
.data{
  background-color: white;
  border: black solid 1px;
  width: 300px;
  border-radius: 10px;
}
.data2{
  background-color: white;
  border: black solid 1px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
.address{
  padding: 3px;
}
.address2{
  padding: 3px;
  text-align: left;
}
#text{
  width: 20%;
}
.txtData{
  font-size: 18px;
  margin-left: 40px;
  margin: 8px 0;
}
#widthData,#heightData{
  font-size: 20px;
  border: black solid 1px;
  border-radius: 15px;
  padding: 0 5px;
  background-color: #e0e0e0;
}
.imgB{
  width: 70px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 7px;
  margin: 3px;
}
.imgB:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
  transition: 0.3s;
}
button{
  background-color: white;
}
hr{
  border: #747474 solid 0.5px;
  text-align: center;
  width: 298px;
}
#containerOfData{
  float: right;
}
#advancedData{
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  width: 378px;
  text-align: center;
  margin-top: 20px;
}
#numbers{
  color: red;
}
#changedArea{
  color: black;
}
#svg1{
  width: 30px;
  height: 30px;
}
#svg2{
  width: 80px;
  height: 81px;
}