@font-face{
  font-family: 'Cairo';
  src: url("../fonts/Cairo-Regular.ttf")
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Cairo';
}
 /* *,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}  */
body{
  background-color: #f4fcfe;
  padding: 10px;
}
button{
  outline: none;
}
#cube {
  background-color: #dfd877;
  opacity: 0.7;
  width: 2.001cm;
  height: 2.001cm;
  position: relative;
}
#containerOfShape {
  width: 10cm;
  border: black solid 1.6px; 
  height: 10cm;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Koushi_10x10.svg/768px-Koushi_10x10.svg.png");
  background-color: white;
  background-size: 100%;
  display: inline-block;
}
#circle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  right: -15px;
  cursor: nw-resize;
}
@media only screen and (max-width: 1024px) {
  #containerOfShape {
    width: 50%;
  }
}
.data{
  background-color: #fb6f3e;
  border: black solid 1px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.data2{
  color: white;
  border: black solid 1px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #fb6f3e;
}
.address{
  padding: 3px;
  padding-left: 5px;
}
.address2{
  padding: 3px;
  text-align: left;
  padding-left: 5px;
}
#text{
  width: 20%;
}
.txtData{
  font-size: 18px;
  margin-left: 40px;
  margin: 8px 0;
  padding-left: 20px;
  color: white;
}
#widthData,#heightData{
  font-size: 20px;
  border: black solid 1px;
  border-radius: 15px;
  padding: 0 5px;
  background-color: #e0e0e0;
  color: black;
}
#areaData{
  font-size: 20px;
  border: black solid 1px;
  border-radius: 15px;
  padding: 0 5px;
  background-color: #e0e0e0;
  color: black;
}
.imgB{
  width: 70px;
  background-color: white;
  border: black solid 2px; 
  border-radius: 10px;
  padding: 7px;
  margin: 2px;
  outline: turquoise !important;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-zoom: none;
}
.imgB:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
  transition: 0.3s;
}
button{
  background-color: transparent;
}
hr{
  border: #747474 solid 0.5px;
  text-align: center;
  width: 298px;
}
#containerOfData{
  float: right;
}
#advancedData{
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  width: 378px;
  text-align: center;
  margin-top: 20px;
  display: none;
}
#numbers{
  color: red;
}
#changedArea{
  color: black;
}
#changedArea2{
  color: black;
}
#svg1{
  width: 30px;
  height: 30px;
}
#svg2{
  width: 80px;
  height: 81px;
}
#solids{
  width: 40px;
  height: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-zoom: none;
}
#backgroundColor{
  width: 40px;
  height: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-zoom: none;
}
.notSelected{
  width: 40px;
  height: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-zoom: none;
}
#containerOfShape,#buttonsChangeContainerOfShape{
  display: inline-block;
}
#buttonsChangeContainerOfShape,#con{
  display: inline-block;
  text-align: right;
}
#buttonsChangeContainerOfShape{
  width: 40%;
  position: absolute;
  margin-right: 40px;
  margin-top: 20px;
}
#containerOfData{
  margin-right: 170px;
}
#changedAreaData{
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  text-align: center;
  width: 50px;
  position: relative;
  display: none;
}
#changedAreaData2{
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  text-align: center;
  width: 50px;
  position: relative;
  display: none;
}
/* Quiz Page */
#containerOfQandA{
  float: right;
}
.question{
  font-weight: 500;
  padding-left: 10px;
}
.submit{
  display: block;
  border: black solid 1.5px;
  border-radius: 5px;
  padding: 3px;
  margin-left: 15px;
  color: white;
  display: inline-block;
}
.skip{
  display: block;
  border: black solid 1.5px;
  border-radius: 5px;
  padding: 3px;
  margin-left: 5px;
  color: white;
  display: inline-block;
}
.questionDiv{
  padding-bottom: 5px;
  text-align: left;
  border: black solid 1px;
  border-radius: 10px;
  background-color: coral;
  color: white;
}
#quizButton{
  position: absolute;
  left: 400px;
  top: 350px;
  border: black solid 1px;
  padding: 3px;
  border-radius: 5px;
}
/* Score Page */
#ScoreBox{
  border: black solid 1px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  display: none;
}
#cono{
  padding: 0px 450px;
  position: relative;
  bottom: 115px;
}
#addr{
  text-align: center;
  border-bottom: black solid 0.5px;
}
#qaa{
  padding-left: 20px;
  padding-bottom: 10px;
}
#end{
  border: black solid 1px;
  padding: 3px;
  border-radius: 5px;
}
#ae{
  color: red;
  border: black solid 1px;
  padding: 0 3px;
  text-decoration: none;
}
#changedAreaData{
  position: relative;
}

#changedAreaData, #changedAreaData2{
  position: absolute;
}
#q1{
  position: relative;
}
#q1, #q2{
  position: absolute;
}
#q2, #q3{
  position: absolute;
}