* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* *,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
} */
body{
  background-color: #f4fcfe;
}
#cube {
  background-color: red;
  width: 62px;
  height: 62px;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}
#containerOfShape {
  width: 40%;
  border: black solid 0.1px;
  /* box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24); */
  height: 48%;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
}
#circle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  right: -15px;
}
#dragTool {
  text-align: right;
  padding-top: 40px;
  margin-left: 35px;
}
@media only screen and (max-width: 1024px) {
  #containerOfShape {
    width: 50%;
  }
}